/*  ----------------------------------
---------- Gloabl CSS */

body {
    font-family: 'Knewave', cursive;
    background-color: antiquewhite;
    }
    
button {
    height: 4.125rem;
    width: 7.25rem;
    border-radius: 30%;
    
}

.btn {
  background: #5e788a;
  background-image: -webkit-linear-gradient(top, #5e788a, #2980b9);
  background-image: -moz-linear-gradient(top, #5e788a, #2980b9);
  background-image: -ms-linear-gradient(top, #5e788a, #2980b9);
  background-image: -o-linear-gradient(top, #5e788a, #2980b9);
  background-image: linear-gradient(to bottom, #5e788a, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 5px 5px 0px #666666;
  -moz-box-shadow: 5px 5px 0px #666666;
  box-shadow: 5px 5px 0px #666666;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 3px;
  text-decoration: none;
  margin-left: 2%;
  margin-bottom: 3%;
}

.btn:hover {
  background: #a5b7c2;
  text-decoration: none;
}

/* ------------------------------- */

    #playerStats {
        
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        padding-bottom: 1%;
        font-size: 1.50rem;
       
    }
    
    #monsterStats {
       
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        padding-bottom: 1%;
        font-size: 1.50rem;
    }
    
    #roomDescription {
        font-family: 'Petit Formal Script', cursive;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        padding-top: 1%;
        font-weight: 900;
        font-size: 1.75rem;   
    }

    #roomDescription p::first-letter {
        font: bold italic 5em / .5 'Petit Formal Script';    font-style: italic;    color: black;     float: left;    margin: 0.2em 0.25em .01em 0; 
}
    
    #messages {
        font-family: 'Petit Formal Script', cursive;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        padding-top: 1%;
        padding-left: 1%;
        padding-bottom: 1%;
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 1%;
    }
    
