/*  ----------------------------------
---------- Gloabl CSS */

body {
    font-family: 'Knewave', cursive;
    }
    
button {
    height: 5.125rem;
    width: 8.25rem;
    border-radius: 30%;
}

/* ------------------------------- */

    #playerStats {
        
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        padding-bottom: 1%;
        font-size: 1.50rem;
       
    }
    
    #monsterStats {
       
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        padding-bottom: 1%;
        font-size: 1.50rem;
    }
    
    #roomDescription {
        font-family: 'Petit Formal Script', cursive;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        padding-top: 1%;
        font-weight: 900;
        font-size: 1.75rem;   
    }

    #roomDescription p::first-letter {
        font: bold italic 5em / .5 'Petit Formal Script';    font-style: italic;    color: black;     float: left;    margin: 0.2em 0.25em .01em 0; 
}
    
    #messages {
        font-family: 'Petit Formal Script', cursive;
        background-image: url("http://www.johnwdriscoll.com/wp_images/paperbg.jpg");
        background-image: cover;
        background-image: no-repeat;
        color: black;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        padding-top: 1%;
        padding-left: 1%;
        padding-bottom: 1%;
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 1%;
    }
    
